<nav class="dark-stripes">
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle" class="icon"><div class="hamburger-icon"></div></label>
  <!-- Kinda hacky way to have CSS-only toggleable navbar -->
  <span class="logo"><a href="/"><img src="/resources/icons/nav-icon.png" height="40" alt="Home"></a></span>
  <span {{#if_eq page "code" }} class="selected" {{/if_eq}}><a href="/code">Code</a></span>
  <span {{#if_eq page "bots" }} class="selected" {{/if_eq}}><a href="/bots">Bots</a></span>
  <span {{#if_eq page "about" }} class="selected" {{/if_eq}}><a href="/about">About</a></span>
  <span {{#if_eq page "contact" }} class="selected" {{/if_eq}}><a href="/contact">Contact</a></span>
</nav>
