<!DOCTYPE html>
<html>
<head>
  {{> head title=title description=description }}
	<title>{{ title }} | GiraffeDuck</title>
</head>
<body>
    {{> navbar }}
    {{> content }}
    {{> footer }}
</body>
</html>
