{{#> page_layout page="about" title="About" description="Learn about this site" }}
  {{#*inline "content"}}
    <header>
      <h1 class="title">About site<small> what a history</small></h1>
      <h4 class="subtitle">For the curious.</h4>
    </header>

    <section>
      <ul>
        <li>Originally a website made to be a video game wiki by me and a friend (hosted on Google Sites!)</li>
        <li>Late 2014/early 2015, a proper domain and server was bought to host the wiki, using mediawiki</li>
        <ul>
          <li>There wasn't much content, and it never really got off the ground nor much attention from us</li>
          <li>A forum was also added, but both the forum and wiki were just spam bots and it was abandoned</li>
        </ul>
        <li>A couple months later, a main page was built by me. Then the site died again.</li>
        <ul>
          <li>It had a game prototype (built in Unity, the files are lost to time)</li>
          <li>Actual custom CSS (some of it likely still survives to current site today)</li>
          <li>There was even search, apparently</li>
        </ul>
        <li>In 2016, I decided to try and revive the site.</li>
        <ul>
          <li>The unused (and spammed) wiki and forum were completely removed</li>
          <li>A blog was added (Wordpress, never used)</li>
          <li>Main page was reworked (again)</li>
        </ul>
        <li>In 2017--after dying again--the entire website was remade from the ground up</li>
        <ul>
          <li>A new domain was bought (giraffeduck.com, the old one was abandoned)</li>
          <li>HTML and CSS done from scratch</li>
          <li>APIs (like the bee movie one and the fox one) were added for fun</li>
        </ul>
        <li>And in early 2022, wanting to abandon LAMP (mostly PHP) for good, I tore out the whole site again</li>
        <ul>
          <li>Most of the HTML/CSS survived (it's still good!)</li>
          <li>But the website is now hosted using <a href="http://nestjs.com">NestJS</a> and a self-managed server (old one was CPanel, it was ok)</li>
          <li>No more PHP!</li>
        </ul>
        <li>And now there's today, I hope you found this small history log fun :)</li>
      </ul>

      <hr>

      <p>I'm Atora (aka AtoraSuunva or Atlas). I like programming.</p>
      <p>I develop software professionally (usually web stuff!) A lot of my work is much prettier and much more functional than this site, but I keep it around for both nostalgia reasons and as a general place to dump stuff.</p>
      <p>If you're curious about things I've done, you can either check <a href="/code">/code</a> or my <a href="https://github.com/AtoraSuunva/">GitHub</a>.</p>
      <p>If you want to contact me, there's a couple ways on <a href="/contact">/contact</a></p>

      <hr>

      <p>PS: The "Giraffeduck" logo and name come from a random image I found online while researching careers online back in 2015-2016. I found the image funny enough to keep it, although I never found the source ever again (I think it was a chemical engineer PDF? It was a weird source)</p>
    </section>
  {{/inline}}
{{/page_layout}}
