{{#> page_layout page="contact" title="Contact" description="Get in touch with me" }}
  {{#*inline "content"}}
    <header>
      <h1 class="title">Contact me<small> messenger pigeon soon</small></h1>
      <h4 class="subtitle">In case you wanna talk to me about something.</h4>
    </header>

    <section>
      <p>To contact me about my code, preferably open up an issue on my <a href="https://github.com/AtoraSuunva/">GitHub</a></p>
      <dl class="contact-info">
        <dt>Email</dt>
          <dd><a href="mailto:atora@giraffeduck.com">atora@giraffeduck.com</a></dd>
        <dt>Twitter</dt>
          <dd><a href="https://twitter.com/AtoraSuunva">@AtoraSuunva</a></dd>
      </dl>
    </section>
  {{/inline}}
{{/page_layout}}
