<!DOCTYPE html>
<html id="main-page" class="dark-stripes">
<head>
  {{> head title="Index" description="Main Page" }}
  <title>Index | GiraffeDuck</title>
</head>
<body>
  <section>
    <article class="tile-card center">
      <div class="center-piece">
        <h2>GiraffeDuck.com</h2>
        <h3>I code things.</h3>
        <img src="/giraffeduck.png" height="150"/>
        <br/>
        <br/>
        <div>
          <a href="/code" class="button">Code</a><a href="/bots" class="button">Bots</a><a href="/about" class="button">About</a><a href="/contact" class="button">Contact</a>
        </div>
      </div>
    </article>
  </section>
</body>
</html>
