<nav class="dark-stripes">
  <input type="checkbox" id="nav-toggle">
  <label for="nav-toggle" class="icon">
    <div class="hamburger-icon"></div>
  </label>
  <span class="logo"><a href="/">
    <img src="/resources/icons/nav-icon.png" height="40" width="40" alt="Home">
  </a></span>
  <span class="selected"><a href="/code">Code</a></span>
  <span><a href="/bots">Bots</a></span>
  <span><a href="/about">About</a></span>
  <span><a href="/contact">Contact</a></span>
</nav>
