---
layout: templates/base.njk
---

{% include "templates/nav.njk" %}
<header>
  <h1 class="title">
    {{ title }} <small>{{ subtitle }}</small>
  </h1>
  <h4 class="subtitle">{{ description }}</h4>
</header>
<main>
  {{ content | safe }}
</main>
{% include "templates/footer.njk" %}
