{{#> page_layout page="bots" title="Bots" description="Some of my bots" }}
  {{#*inline "content"}}
    <header>
      <h1 class="title">Bots<small> Beep Boop</small></h1>
      <h4 class="subtitle">Some of my bots</h4>
    </header>

    <section>
      <p>Bots I've made for discord</p>

      <article class="card">
        <img class="circle-icon" src="robototter/avy.png" width="60"/>
        <h1>RobotOtter</h1>
        <p>Yet another general-purpose bot, but with more focus on mod commands.</p>
        <a href="./robototter/invite" class="button">Invite</a>
      </article>

      <article class="card">
        <img class="circle-icon" src="boorubot/avy.png" width="60"/>
        <h1>BooruBot</h1>
        <p>Searches a bunch of
          <a href="https://github.com/AtoraSuunva/booru/blob/master/sites.json">boorus</a> using my
          <a href="https://github.com/AtoraSuunva/booru/">Booru</a> module
        </p>
        <p>
          Features tag/site blacklisting, reactions for next images/delete result, fancy embeds...
        </p>
        <a href="./boorubot/invite" class="button">Invite</a>
      </article>

      <article class="card">
        <img class="circle-icon" src="bulbatrivia/avy.png" width="60"/>
        <h1>BulbaTrivia</h1>
        <p>Brings up some random "fun" facts from Bulbapedia</p>
        <p>And can pull pokemon information from Bulbapedia and PokeAPI!</p>
        <a href="./bulbatrivia/invite" class="button">Invite</a>
      </article>

      <article class="card">
        <img class="circle-icon" src="smolbot/avy.png" width="60"/>
        <h1>SmolBot</h1>
        <p>Private testing bot</p>
      </article>

    </section>
  {{/inline}}
{{/page_layout}}
