<!DOCTYPE html>
<html>
<head>
<meta property="og:title" content="SmolBot Help">
<meta property="og:description" content="Guide on how to use and add SmolBot">
<meta name="description" content="Guide on how to use and add SmolBot">

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:url" content="https://giraffeduck.com">
<meta property="og:type" content="website">
<meta property="og:site_name" content="GiraffeDuck">
<meta property="og:title" content="SmolBot Help">
<meta property="og:description" content="Guide on how to use and add SmolBot">
<meta property="og:image" content="/bots/smolbot/avy.png">
<meta property="og:locale" content="en_US">

<link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/resources/icons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/resources/icons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/resources/icons/manifest.json">
<link rel="mask-icon" href="/resources/icons/safari-pinned-tab.svg" color="#af5626">
<link rel="shortcut icon" href="/resources/icons/favicon.ico">
<meta name="msapplication-config" content="/resources/icons/browserconfig.xml">
<meta name="theme-color" content="#af5626">


<title>Smol Help | GiraffeDuck</title>
</head>
<body>
Good job faking Discord's embed bot useragent! Now get out of here
</body>
</html>
