{{#> page_layout page="fox" title="Fox API" description="Fox pics!" }}
  {{#*inline "content"}}
  <header>
    <h1 class="title">Fox api
      <small> cat dogs</small>
    </h1>
    <h4 class="subtitle code">/api/fox/</h4>
  </header>

  <section>
    <p>Get some fox pics.</p>
    <p>Because we all need more foxes</p>

    <article class="card">
      <h1 class="code">/</h1>
      <p>Get some JSON linking to a random fox pic</p>
      <p>src is <span class="code">null</span> if there's no source</p>
      <p class="info">
        <b>Returns:</b> <span class="code">{"url": "Url to img", "src": "Source, if any"}</span></p>
      <a href="/api/fox/" class="button">Example</a>
    </article>

    <article class="card">
      <h1 class="code">/direct</h1>
      <p>Redirect to a direct link to a random fox</p>
      <p class="info">
        <b>Returns:</b> A fox!</p>
      <a href="/api/fox/direct" class="button">Example</a>
    </article>

    <article class="card">
      <h1 class="code">/?direct=[Number]</h1>
      <p>Redirect to a direct link to a random fox, using [Number] as a seed</p>
      <p class="info">
        <b>Returns:</b> A seeded fox!</p>
      <a href="/api/fox/?direct=34" class="button">Example</a>
    </article>

    {{!-- <article class="card">
      <h1 class="code">/images</h1>
      <p>Look at all fox images</p>
      <p class="info">
        <b>Returns:</b> Just the default apache index thing</p>
      <a href="/api/fox/images" class="button">Example</a>
    </article> --}}
  </section>
  {{/inline}}
{{/page_layout}}
