<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Discord Archive</title>
  <meta property="og:title" content="Log | GiraffeDuck">
  <meta property="og:description" content="<?=$preview?>">
  <meta name="description" content="<?=$preview?>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="resources/main.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="resources/hljs.min.css"/>
  <script src="resources/smd.js"></script>
  <script src="resources/RichEmbed.js"></script>
  <script src="resources/parser.js"></script>
</head>

<body class="theme-dark">
  {{#if error }}
  <div id="error">{{ error }}</div>
  {{/if}}

  <h3 id="meta"></h3>

  <details>
    <summary>Users</summary>
    <ul id="users">
    </ul>
  </details>

  <section id="messages"></section>
  <noscript>Enable JS for fancy logs</noscript>

  <hr>
  <h3>Raw Archive</h3>
  <pre id="archive">{{#if archive }}{{ archive }}{{/if}}</pre>
</body>
</html>
